@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Outfit', sans-serif;
  --font-body: 'Outfit', sans-serif;
  --background: 205 100% 7%;
  --foreground: 0 0% 100%;
  --primary: 18 100% 50%;
  --secondary: 205 30% 20%;
  --border: 205 30% 15%;
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  font-weight: 700;
  letter-spacing: -0.02em;
}
